body {
    color: red;
    animation: rainbow 5s infinite;
    width: 450px;
}

h1 {
    font-size: 2.5em;
}

div {
    text-align: center;
}

.part {
    display: block;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    margin-bottom: -20px;
    margin-left: 200px;
}

.color {
    width: 5em;
    height: auto;
    margin: 1.5em;
}

#red {
    background: red;
}

#orange {
    background: orange;
}

#yellow {
    background: yellow;
}

#green {
    background: rgb(62, 228, 62);
}

#blue {
    background: blue;
}

#purple {
    background: purple;
}

#pink {
    background: hotpink;
}

#unicorn {
    width: 200px;
    height: auto;
}


.red {
    background: red;
}

.orange {
    background: orange;
}

.yellow {
    background: yellow;
}

.green {
    background: rgb(62, 228, 62);
}

.blue {
    background: blue;
}

.purple {
    background: purple;
}

.pink {
    background: hotpink;
}

.button-image {
    width: 3em;
    height: auto;
}